.single-card{
    /* border: 1px solid red; */
    
    box-shadow: 4px 8px 15px gray;
    border-radius: 3px;
    width: 550px;
    margin: auto;
    text-align: center;
}
.card-right{
    padding: 10px;
}
.nav-item{
    /* width: 100%;
    margin: 0 auto !important; */
    text-align: center !important;
}
.tab{
    padding: 13px 40px;
    background-color: #fff;
    cursor: pointer;
}
.tab1{
    border-right: 2px solid gray;
}