/* form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
  }

  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
.nosubmit{
    width: 150px !important;
}
form.nosubmit {
   
    border: none;
    padding: 0;
  } */
  
  input.nosubmit {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

  .all-buttons-container{
    display: flex;
    justify-content:space-between;
    color: black;
    align-items: center;
    /* padding: 10px; */
    background-color:white;
    border-radius:5px;
  }
  .small-box{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 3px;
    padding:3px;
    width:100%;
    margin: auto;
    border-right: 2px solid rgb(107, 107, 107);
    
  }
  .search-button-4  {
    /* width: 50px; */
   
    background-color: red;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content:center;
    /* margin: 13px; */
    padding:8px;
    width:100%;
    /* margin-right: 10px; */
  }
  .title{
    font-size:70px;
    font-weight: bold;
  }
  .banner-second-container{
    width: 90%;
    margin: auto;
    height: 71vh;
  }
  .banner-image{
    width: 100%;
    height: 100%;
  }